{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>Our Crew</h1>
    <div class="crewmembers">
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/ppl/HOD.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">OBED OTTA</div>
            <div class="designation">C.E.O </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/ppl/JOSHAN.jpg" alt="member image" style="width:200px;height:200px;>
            </div>
            <div class="membername">JOSHAN ATHANESIOUS</div>
            <div class="designation">FRONTEND DEV</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/ppl/Aravind1.png" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">ARAVIND</div>
            <div class="designation">TECHNICAL TEAM</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/ppl/Arjun1.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">ARJUNRAJ</div>
            <div class="designation"> R & D HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/ppl/Vivek.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">VIVEK </div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/ppl/Arun.jpeg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">ARUNRAJ</div>
            <div class="designation"> MARKETING HEAD </div>
        </div>
    </div>
    {% endblock  %}